{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tasks_app'|trans }}
{% endblock %}

{% block body %}
    {% include '_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'tasks_index_paginated',
    } %}
    <h1>
        {{ 'title.tasks_app'|trans }}
    </h1>
    {% if paginator.data|length %}
        <ul>
            {% for row in paginator.data %}
                <li>{{ row.title }}, {{ row.url }}</li>
                <a href="{{ url('tasks_view', {'id': row.id}) }}" title="{{ 'label.view_contact'|trans }}">
                    {{ 'label.view_contact'|trans }}
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <div>
            {{ 'title.list_is_empty'|trans }}
        </div>
    {% endif %}
    <br>
    <a href="{{ url('tasks_add') }}" title="{{ 'label.add_task'|trans }}">
        {{ 'label.add_task'|trans }}
    </a>


{% endblock %}