{% extends 'base.html.twig' %}

{% block title %}{{ 'title.notes_add'|trans }}{% endblock %}

{% block body %}
    <h1>
        {{ 'title.notes_add'|trans }}
    </h1>
    {{ form_start(form, { method: 'post', action: url('notes_add') }) }}

    {% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

    {{ form_widget(form) }}
    <input type="submit" value="{{ 'action.save_notes'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}